# ============================================================
# OpsMind - Environment Configuration Template
# ============================================================

# ------------------------------------------------------------
# PostgreSQL
# ------------------------------------------------------------
POSTGRES_DB=opsmind
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ------------------------------------------------------------
# Spring Boot
# ------------------------------------------------------------
SPRING_PROFILES_ACTIVE=dev

SERVER_PORT=8080

# ------------------------------------------------------------
# Python AI Service
# ------------------------------------------------------------
AI_SERVICE_HOST=localhost
AI_SERVICE_PORT=8000

# ------------------------------------------------------------
# Redis
# ------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379

# ------------------------------------------------------------
# Kafka
# ------------------------------------------------------------
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ------------------------------------------------------------
# LLM
# ------------------------------------------------------------
LLM_API_KEY=your_own_api_key
LLM_MODEL=your_own_model_selection

# ------------------------------------------------------------
# Application Security
# ------------------------------------------------------------
JWT_SECRET=As_you_want

JWT_EXPIRATION_MS=3600000